$standard-white: #ffffff;
$standard-black: #262626;
$standard-theme-color: #FF9D00;

$standard-border-color: #9A9A9A;

$window-controls-height: 32px;
$window-content-height: calc(100vh - $window-controls-height - 2px);