<nz-form-item>
  <nz-form-control>
    <nz-input-group>

      <span>ProMAX EULA</span>
      <br/>
      <br/>
      <span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida quis blandit turpis cursus in hac habitasse. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Enim facilisis gravida neque convallis a cras. Ultrices vitae auctor eu augue. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Consequat semper viverra nam libero justo laoreet sit amet. Facilisis sed odio morbi quis commodo odio. Tincidunt tortor aliquam nulla facilisi. Leo vel orci porta non pulvinar neque laoreet. Sed turpis tincidunt id aliquet risus feugiat in.
      </span>
      <br/>
      <br/>
      <span>
      Viverra suspendisse potenti nullam ac tortor vitae purus. Rutrum tellus pellentesque eu tincidunt tortor aliquam. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Faucibus nisl tincidunt eget nullam non nisi est sit amet. Sapien faucibus et molestie ac. Mattis aliquam faucibus purus in massa tempor nec. Nulla porttitor massa id neque aliquam. Placerat duis ultricies lacus sed turpis. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Arcu odio ut sem nulla pharetra diam sit. Suspendisse potenti nullam ac tortor vitae purus. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Duis convallis convallis tellus id interdum velit laoreet id donec. Dignissim cras tincidunt lobortis feugiat vivamus. Eleifend quam adipiscing vitae proin sagittis nisl.
      </span>
      <br/>
      <br/>
      <span>
      Nunc scelerisque viverra mauris in aliquam sem fringilla ut. Adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla. Pellentesque sit amet porttitor eget dolor. Quis risus sed vulputate odio ut enim blandit volutpat maecenas. Augue ut lectus arcu bibendum at. Pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Id ornare arcu odio ut sem nulla. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Ultricies mi quis hendrerit dolor magna eget. Nulla aliquet enim tortor at auctor urna nunc.
      </span>
      <br/>
      <br/>
      <span>
      At auctor urna nunc id cursus metus aliquam. Rhoncus est pellentesque elit ullamcorper dignissim cras. Ultricies mi eget mauris pharetra. Convallis tellus id interdum velit. Massa ultricies mi quis hendrerit dolor magna eget. Sapien et ligula ullamcorper malesuada proin libero nunc consequat. Eu lobortis elementum nibh tellus molestie nunc non. Vitae nunc sed velit dignissim sodales ut eu sem integer. Parturient montes nascetur ridiculus mus mauris. Hac habitasse platea dictumst quisque sagittis purus. Aliquet lectus proin nibh nisl.
      </span>
      <br/>
      <br/>
      <span>
      Quam vulputate dignissim suspendisse in est ante. Enim nunc faucibus a pellentesque sit amet porttitor eget dolor. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. Et sollicitudin ac orci phasellus egestas tellus. Cursus euismod quis viverra nibh cras pulvinar mattis nunc sed. Enim facilisis gravida neque convallis a. Feugiat sed lectus vestibulum mattis ullamcorper velit. Nisl nunc mi ipsum faucibus vitae aliquet nec. Rhoncus aenean vel elit scelerisque mauris. Mauris pellentesque pulvinar pellentesque habitant morbi tristique. Fermentum posuere urna nec tincidunt praesent semper feugiat. Vestibulum lorem sed risus ultricies tristique. Malesuada nunc vel risus commodo viverra. Proin sed libero enim sed.
      </span>

    </nz-input-group>
  </nz-form-control>
</nz-form-item>
